.empty-message {
    margin-top: 40vh;
    color: #f57979;
    text-align: center;
    align-items: center;
    font-size: 3em;
    font-family: Muli;
}

.img-empty {
    align-items: center;
    text-align: center;
}

.empty-div-own {
    display: inline;
    text-align: center;
    justify-content: center;
    vertical-align: center;
}